body
{
	background-color: #white;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.container
{
	width: 100%;
}

.header
{
	width: 100%;
	padding: 5px 0;
}

.logo
{
	width: 450px;
	font-size: 0px;
	margin-left: auto;
	margin-right: auto;
}

.glowna
{
	width: 100%;
	padding: 10px 0;
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

.content
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 15px;

}

.socialmedia
{
	width:100%;
	text-align: center;
	background-color: #c34f4f;
}

.socialdivs
{
	width: 1000px;
	margin-left:auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float: left;
}


.fb:hover
{
	background-color: #4668b3;
}


.yt
{
	width: 250px;
	height: 155px;
	float: left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float: left;
}

.tw:hover
{
	background-color: #3095d3;
}


.gplus
{
	width: 250px;
	height: 155px;
	float: left;
}

.gplus:hover
{
	background-color: #d95334;
}

.footer
{
	text-align: center;
	background-color: #000000;
	padding: 5px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.information
{
	background-color: #c34f4f;
}
#info
{
	position: right;
	text-decoration: none;
}




#rozmiaring
{
	width: 300px;
	padding: 20px;
}


input
{
	width: 250px;
	background-color: #efefef;
	color: #666;
	border: 2px;
	border-radius: 3px;
	font-size: 10px;
	padding: 7px;
}

button
{
	width: 150px;
}







ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a 
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}


ol > li 
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}


ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li:hover
{
	background-color: #cf6969;
}


ol > li:hover > a 
{
	color: #451717;
}

ol > li > ul 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}


ol > li:hover > ul 
{
	display: block;
}

ol > li > ul > li 
{
	background-color: #cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}

ol > li > ul > li:hover 
{
	background-color: #c34f4f;
}


ol > li > ul > li:hover > a 
{
	color: #451717;
}


html{
	scroll-behavior: smooth;
}

#DunkPurpleCourt
{
	float:left;
	width:50%;
}

#rozmiaring
{
	float: left;
	width: 40%;
}

#Jordan1Brotherhood
{
	float:left;
	width: 50%;
}

#formularz
{
	float: left;
	width:50%;
	background-color: #c34f4f;
	width: 300px;
	padding: 50px;
	margin-right: auto;
}


#Informacje
{
	float: right;
	width: 40%;
	background-color: #c34f4f;
	decoration: none;

}

.footer
{
	decoration: none; 
	clear: both;
}

#reszta
{
	clear: both;
	background-color: #c34f4f;
}


#custom
{
	width: 200px;
	background-color: #c34f4f;
	color: white;
	border: 10px solid transparent;
	border-radius: 5px;
}



.btn
{
	border: 1px solid #c34f4f;
	width: 10px;
	width: 20px;
}

.Losuj button
{
display:block;
margin:0auto;
background-color:#fff;
border:3px solid black;
padding:10px 20px;
font-size:20px;
font-family:arial;
transition:0.3s;
}

.Losuj button:hover{
  background-color:#000;
  color:white;
}
